{% load static %}
<!doctype html>
<html lang="ko">

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/board.css' %}">
    <link rel="stylesheet" href="/trip/static/css/board.css">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/solid.js"
            integrity="sha384-+Ga2s7YBbhOD6nie0DzrZpJes+b2K1xkpKxTFFcx59QmVPaSA8c7pycsNaFwUK6l"
            crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/fontawesome.js"
            integrity="sha384-7ox8Q2yzO/uWircfojVuCQOZl+ZZBg2D2J5nkpLqzH1HY0C1dHlTKIbpRz/LG23c"
            crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>trip</title>
</head>

<body>

<header>
    <div class="bg-dark collapse" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">Test Borad</h4>
                    <p class="text-muted">This page is Test page</p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        {#                            <li><a href="{% url 'logout' %}" class="text-white" onclick="Log_out();">Log out</a></li>#}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
            {#                <a href="{% url 'get_posts' %}" class="navbar-brand d-flex align-items-center">#}

            <strong class="white">여행 리스트</strong>
            {#            </a>#}
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                    aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>

<main role="main">
    <section class="jumbotron text-center">
      <div class="container">
        <h1>안녕하세요 저는 유미에요!</h1>
        <p class="lead text-muted">글을 남겨 주세요
        </p>
      </div>
    </section>
    <div class="container">
        <form action="{% url 'edit_post' post.id %}" method="POST">
            <div class="form-group">
                <label for="subject">여행 제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="{{ post.title }}">
            </div>
            <div class="form-group">
                <label for="content">여행 일정</label>
            <div class="form-group" id="parah"></div>
        <div class="flex_container">
            <textarea class="form-control whitebackground" id="schedule" name="schedule" rows="10">{{ post.schedule }}</textarea>
            <textarea class="form-control whitebackground" id="body" name="body" rows="10">{{ post.body }}</textarea>
        </div>
        <div class="flex_container">
            <textarea class="form-control whitebackground" id="Host" name="Host" rows="4">{{ post.Host }}</textarea>
            <a type="button" class="btn btn-secondary" href="{% url '#' %}">예약</a>
            <!-- 예약을 해야는 경우,

            예약을 취소하는 경우<a type="button" class="btn btn-secondary" href="{% url '#' %}">
            
                예약 취소</a> -->
        </div>
      </form>
    </div> 
</main>

<footer class="text-muted">
    <div class="container">
        <p class="float-right">
        <p>copyright &copy; Minseok</p>
    </div>
</footer>
</body>

</html>