{% extends 'trip_base.html' %}
{% block content %}
    <script type="text/javascript">
        var arrInput = new Array(0);
        var arrInputValue = new Array(0);

        function addInput() {
            arrInput.push(arrInput.length);
            arrInputValue.push("");
            display();
        }

        function display() {
            document.getElementById('parah').innerHTML = "";
            for (intI = 0; intI < arrInput.length; intI++) {
                document.getElementById('parah').innerHTML += createInput(arrInput[intI], arrInputValue[intI]);
            }
        }

        function saveValue(intId, strValue) {
            arrInputValue[intId] = strValue;
        }

        function createInput(id, value) {
            return "<label for='subject'> 일정 </label>" + '{{ schedule_form.place }}' + "<br>";
        }

        function deleteInput() {
            if (arrInput.length > 0) {
                arrInput.pop();
                arrInputValue.pop();
            }
            display();
        }

    </script>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>안녕하세요 저는 유미에요!</h1>
                <p class="lead text-muted">글을 남겨 주세요
                </p>
            </div>
        </section>
        <div class="container">
            <div class="form-group">
                <form method="post" action="{% url 'create-post' %}">
                    {% csrf_token %}
                    <label for="subject">여행 제목</label>
                    {{ trip_form.title }}
                    <label for="content">여행 일정</label>
                    <div class="form-group" id="parah"></div>
                    <input type="button" value="추가" onclick="addInput();"/>
                    <input type="button" value="삭제" onclick="deleteInput();"/>
                    {{ trip_form.explanation }}
                    <button type="submit" class="btn btn-secondary">작성</button>
                    {#                <a type="button" class="btn btn-secondary" href="{% url 'delete_post' post.id %}">삭제</a>#}
                    {#                <a type="button" class="btn btn-secondary" href="{% url 'show_post' %}">취소</a>#}
                </form>
            </div>
            </form>
        </div>

    </main>
{% endblock %}