{% extends 'trip_base.html' %}
{% block content %}

    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1>안녕하세요 저는 {{ user.username }}에요!</h1>
                <p class="lead text-muted">글을 남겨 주세요</p>
            </div>
        </section>
        <div class="container">
            <div class="form-group">
                <label for="subject">여행 제목</label>
                <input type="text" class="form-control" id="title" name="title" placeholder="{{ trip.title }}">
            </div>
            <div class="form-group">
                <label for="content">여행 일정</label>
                <div class="form-group" id="parah"></div>
                <div class="flex_container">
                        <textarea class="form-control whitebackground" id="schedule" name="schedule" rows="10">
                           {% for schedule in schedules %}
                               {{ schedule.place }}
                           {% endfor %}
                        </textarea>
                    <textarea class="form-control whitebackground" id="body" name="body"
                              rows="10">{{ trip.explanation }}</textarea>
                </div>
                <div class="flex_container">
                        <textarea class="form-control whitebackground" id="Host" name="Host"
                                  rows="4">{{ trip.author }}</textarea>
                    <form action="{% url 'create-trip-member' trip.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" type="button" class="btn btn-secondary">
                            예약
                        </button>
                        <!-- 예약을 해야는 경우,

{#            예약을 취소하는 경우<a type="button" class="btn btn-secondary" href="{% url '#' %}">#}
            
                예약 취소</a> -->
                </div>
            </div>
            </form>
        </div>
    </main>
{% endblock %}